.join_us {
  background-color: #b5e4ff;
  padding: 90px 290px;
}

.join_us__content {
  background-color: #2b477c;
  padding: 60px;
}

.join_us__heading {
  font-size: 40px;
  font-weight: 700;
  line-height: 48.84px;
  text-align: center;
  margin-bottom: 20px;
}

.join_us__text {
  font-size: 18px;
  font-weight: 400;
  line-height: 21.47px;
  text-align: center;
  margin-bottom: 30px;
}

.join_us__button {
  display: flex;
  justify-content: center;
}
