@import "./variables.scss";

body {
  color: $primary-color;
  font-family: "Helvetica Neue", sans-serif;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.button {
  padding: 16px 38px;
  color: #ffffff;
  font-size: 21px;
  background-color: $primary-btn-color;
  border-radius: 84px;

  &:hover {
    transition: 0.5s;
    background-color: #ce7213;
  }
}
